{% extends "@Blog/Default/layout.html.twig" %}

{% block masthead %}
    <h1>header 一直不动, (若隐若现)</h1>
{% endblock %}


{% block page_container %}
    <h2>This is a demo!</h2>
    <a href="{{ path('blog_url2') }}" class="spf-link" >第二页</a>
    <br>
    <a href="{{ path('blog_url3') }}" class="spf-link">第3页-我会等2秒</a>
{% endblock %}
