<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}test{% endblock %}</title>
    {% block meta %}

    {% endblock %}

    {% block head %}
        <script name="www/main" src="{{ asset('/dist/js/main.js') | asset_version }}" ></script>
        <link name="www/main" rel="stylesheet" href="{{ asset('/dist/css/main.css') | asset_version }}">

    {% endblock %}


</head>
<body>
<div id="body-container">
    {% block body_container %}
        <div id="masthead">
            {% block masthead %}
            {% endblock %}
        </div>
        
        <div id="page-container">
            {% block page_container %}
                <div id="guide-container">
                    {% block guide_container %}
                        
                    {% endblock %}
                </div>
                <div id="container">
                    {% block container %}
                        
                    {% endblock %}

                </div>
            {% endblock %}

        </div>
       
    {% endblock %}
</div>


<div id="footer-container">
    {% block footer_container %}
        <hr>
        <h5>I am layout footer</h5>
    {% endblock %}

</div>


{% block foot %}
{% endblock %}


</body>
</html>