{% extends "@Blog/Default/layout2.html.twig" %}



{% block container %}
    <div class="post-block">
        <h3>I am post page! <small> ost list</small></h3>
        <div class="col-xs-12 col-sm-6 col-md-3 a-post">
            <div><a href="##"><img src="http://placehold.it/246x138" alt=""></a></div>
            <h4>DC最强反派达克赛德近万元模型公布</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 a-post">
            <div><a href="##"><img src="http://placehold.it/246x138" alt=""></a></div>
            <h4>DC最强反派达克赛德近万元模型公布</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 a-post">
            <div><a href="##"><img src="http://placehold.it/246x138" alt=""></a></div>
            <h4>DC最强反派达克赛德近万元模型公布</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 a-post">
            <div><a href="##"><img src="http://placehold.it/246x138" alt=""></a></div>
            <h4>DC最强反派达克赛德近万元模型公布</h4>
        </div>
    </div>
{% endblock %}

{% block foot %}
    {{ parent() }}
    <script>
        $($(".nav-body .nav li")[1]).addClass('active').siblings().removeClass("active");
    </script>
{% endblock %}